.page-background {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.color-overlay {
  background-image: url('https://lh3.googleusercontent.com/um8-_csxAalVuS4IJpbFzASq9yv9QXJM0ynsAJ5BJXKtd42fjJeg-_3JTYzSpx888eghvXf9oqroSKYbOULAes2wkj-2GGLgpCNQLXjAqWGbJDT5G-yCrJSnKIQbsgP8z-k_5fKNiQ=w2400');
  transition: all 1s ease-in-out;
  position: absolute;
  z-index: auto;
  /* transform: translate(-50%,-50%); */
  height: 100%;
  width: 100%;
  /* font-family: 'M PLUS Rounded 1c', sans-serif;
  text-decoration: none; */
}
.card-image {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.comix-image1 {
  margin-left: 2em;
  border-radius: 25px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  
}

.pager{
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn{
  color:#f3f5f7;
}

.temp-comix-card {
  position: absolute;
  margin:auto;
  margin-bottom: 2.5em;
  margin-top: 2.5em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  align-self: center;
  width: 90%;
  height: 80%;
  background-color: rgb(34, 30, 30, 0.75);
  border: 3px solid #212529;
  border-radius: 75px;
  color:#f3f5f7;
  font-family: 'M PLUS Rounded 1c', Marker Felt;
  font-weight:500;
  display: flex;
  justify-content: right;
  align-items: center;

}

.comix-card{
  margin-right: 2em;
}

.right-card{
  padding-left: 4em;
}




