.logo {
  font-size: 28px;
  padding-left: 15px;
 
}

#topNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
#publishers {
  display: flex;
}

#supes {
  padding-right: 25px;
}
#spidey {
  padding-right: 25px;
}
#spawn {
  padding-right: 25px;
}
#other {
  padding-right: 900px;
}

#logopic {
  border-radius: 25px;
  width: 4em
  
}

#rightNav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 15px;
}

#rightNav a{
  font-family: 'M PLUS Rounded 1c', Marker Felt;
  color: white;
  text-decoration: none;
  padding-right: 15px;
  font-size: 1.5em;
}

nav.navbar.navbar-expand.navbar-dark.bg-dark {
  background-color: hsl(229, 12%, 25%);
  border-top-width: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px
}


.logout-button {
  cursor:pointer;
}