/* #selUser {
  text-decoration: none;
  color: white;
  font-family: 'M PLUS Rounded 1c', Marker Felt;
  font-weight:500;
  background: none;
  border: none;
  outline: none;
  flex-direction: row-reverse;
} */

/* #comix-searchbar{
  display: flex;
  flex-direction: column;
  justify-content: right;
} */